.open-popup-link {
  display: inline;
  margin-inline: 0.25em;
}

.btn-edit-table {
  background: var(--tertiary);
  color: var(--secondary);

  .d-icon {
    color: var(--secondary);
  }

  .discourse-no-touch & {
    &:hover {
      background-color: var(--tertiary-hover);
      color: var(--secondary);

      .d-icon {
        color: var(--secondary);
      }
    }
  }
}

.table-editor-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .btn-edit-reason {
    background: none;
    .d-icon {
      color: var(--primary-high);
    }
  }
}
