.btn-insert-table {
  background: var(--tertiary);
  color: var(--secondary);

  .d-icon {
    color: var(--secondary);
  }

  .discourse-no-touch & {
    &:hover {
      background-color: var(--tertiary-hover);
      color: var(--secondary);

      .d-icon {
        color: var(--secondary);
      }
    }
  }
}

.insert-table-modal-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .modal-inner-container {
    --modal-max-width: 90%;
    width: max-content;
  }

  .btn-edit-reason {
    background: none;
    .d-icon {
      color: var(--primary-high);
    }
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .secondary-actions .tippy-content {
      h4 {
        color: var(--primary);
      }
      li {
        margin-block: 0.25rem;
        color: var(--primary-high);
      }
    }
  }
}
